.btn-14 {
    border: 2px solid var(--color-primary);
    z-index: 1;
    font-family: var(--font-primary);
}
.btn-14:after {
    position: absolute;
    content: '';
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    background-color: #212429;
    transition: all 0.3s ease;
    border-radius: 8px;
}
.btn-14:hover {
    color: #fff;
}
.btn-14:hover:after {
    left: 0;
    width: 100%;
}
.btn-14:active {
    top: 2px;
}
.custom-btn {
    padding: 10px 50px;
    text-decoration: none;
    background: var(--color-primary);
    outline: none !important;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    color: var(--color-white);
    border-radius: 8px;

    &:hover {
        color: var(--color-primary);
    }
}
.btn-hero {
    &::after {
        background-color: var(--color-black);
    }
}
