.cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 80px;

    .card {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        text-decoration: none;
        @media screen and (max-width: $breakpoint-md) {
            flex-direction: column-reverse;
        }

        .card_media {
            overflow: hidden;

            object-fit: cover;
            z-index: 1;
            img {
                width: 840px;
                height: 500px;
                display: block;
                @media screen and (max-width: $breakpoint-md) {
                    width: 100%;
                }
            }
        }

        .card_content {
            z-index: 2;
            background-color: #212429;
            width: 675px;
            height: 380px;
            display: flex;
            flex-direction: column;
            color: var(--color-white);
            position: relative;
            padding-top: 40px;

            @media screen and (max-width: $breakpoint-lg) {
                width: 50%;
                height: 380px;
            }
            @media screen and (max-width: $breakpoint-md) {
                width: 100%;
            }
            .plus_infos {
                --bar-height: 5px;
                --bar-width: 22px;

                background-color: var(--color-primary);
                aspect-ratio: 1/1;
                border: none;
                outline: none;
                cursor: pointer;
                padding: 0;
                position: absolute;
                width: 50px;

                z-index: 3;
                left: 96%;
                top: 50%;
                @media screen and (max-width: $breakpoint-md) {
                    left: 50%;
                    top: -5%;
                }

                .bar {
                    background-color: var(--color-white);

                    height: var(--bar-height);
                    width: 50%;
                    position: absolute;
                    top: 50%;
                    left: 25%;
                    transition: 0.3s all ease-out;
                    &:nth-child(1) {
                        transform: rotate(90deg);
                    }
                }
            }

            .titre_projet {
                margin: 0;
                padding: 0 0 16px 32px;
            }

            .sous_titre_projets {
                padding-bottom: 35px;
                font-size: 24px;
            }
            .infos_projets {
                display: flex;
                justify-content: space-between;
                padding-right: 32px;
                align-items: center;
            }

            .projets_texte {
                padding-bottom: 115px;
                font-size: 18px;
                @media screen and (max-width: $breakpoint-lg) {
                    padding-bottom: 80px;
                }
            }

            p {
                padding-left: 32px;
            }
        }

        .card_content_gauche {
            transform: translateX(5%);
            border: 4px solid black;
            box-shadow: 5px 3px #212429, -1em 0 0.4em black;
            @media screen and (max-width: $breakpoint-md) {
                transform: translateX(0);
                box-shadow: none;
            }
        }
        .card_content_droite {
            transform: translateX(-5%);
            border: 4px solid black;
            box-shadow: 12px 12px 2px 1px #212429;
            @media screen and (max-width: $breakpoint-md) {
                transform: translateX(0);
                box-shadow: none;
            }
        }
    }
    .card_inverse {
        @media screen and (max-width: $breakpoint-md) {
            flex-direction: column !important;
        }
    }
}
