.cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 80px;
    .card {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        text-decoration: none;

        .card_media {
            overflow: hidden;

            object-fit: cover;
            z-index: 1;
            img {
                width: 840px;
                height: 500px;
                display: block;
            }
        }

        .card_content {
            z-index: 2;
            background-color: #212429;
            width: 675px;
            height: 380px;
            display: flex;
            flex-direction: column;
            color: var(--color-white);
            position: relative;

            .plus_infos {
                --bar-height: 5px;
                --bar-width: 22px;

                background-color: var(--color-primary);
                aspect-ratio: 1/1;
                border: none;
                outline: none;
                cursor: pointer;
                padding: 0;
                position: absolute;
                width: 50px;
                height: 50px;
                z-index: 10;
                left: 96%;
                top: 50%;

                .bar {
                    background-color: var(--color-white);

                    height: var(--bar-height);
                    width: 50%;
                    position: absolute;
                    top: 50%;
                    left: 25%;
                    transition: 0.3s all ease-out;
                    &:nth-child(1) {
                        transform: rotate(90deg);
                    }
                }
            }

            .titre_projnet {
                margin: 0;
                padding: 40px 0 16px 32px;
                font-size: 28px;
            }

            .sous_titre_projets {
                padding-bottom: 40px;
                font-size: 24px;
            }
            .infos_projets {
                display: flex;
                justify-content: space-between;
                padding-right: 32px;
                align-items: center;
            }

            .projets_texte {
                padding-bottom: 115px;
                font-size: 18px;
            }

            p {
                padding-left: 32px;
            }
        }

        .card_content_gauche {
            transform: translateX(20%);
            border: 4px solid black;
            box-shadow: 5px 3px #212429, -1em 0 0.4em black;
        }
        .card_content_droite {
            transform: translateX(-20%);
            border: 4px solid black;
            box-shadow: 12px 12px 2px 1px #212429;
        }
    }
}
