.swiper {
    img {
        width: 100%;
    }
}

.swiper-maquette {
    .swiper-slide {
        width: 180%;

        height: 100%;

        img {
            width: 100%;
            display: block;
            height: 80vh;
            object-fit: cover;
            cursor: pointer;
        }
    }
}

.swiper-code {
    img {
        width: 100%;
        display: block;

        object-fit: cover;
        cursor: pointer;
    }
}

.swiper-integration {
    .swiper-slide {
        height: auto;
    }
    .intergration_media {
        height: 85%;
        width: 100%;
        object-fit: cover;
        img {
            display: block;
            height: 85%;
            object-fit: cover;
            cursor: pointer;
        }
    }
}
