.swiper {
    img {
        width: 100%;
    }
}

.swiper-maquette {
    .swiper-slide {
        width: 180%;

        height: 100%;

        img {
            width: 100%;
            display: block;
            height: 80vh;
            object-fit: cover;
            cursor: pointer;
        }
    }
}

.swiper-code {
    .swiper-slide {
        padding-top: 20px;
        width: 100%;
        height: 620px;
        color: var(--color-bg-primary);
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .media-swiper {
            width: 100%;
            height: 620px;
            object-fit: cover;

            img {
                width: 100%;
                height: 100%;
                display: block;
                object-position: left;
                object-fit: cover;
                cursor: pointer;
            }
        }
    }
}

.swiper-integration {
    .swiper-slide {
        height: auto;
    }
    .intergration_media {
        height: 100%;
        width: 100%;
        object-fit: cover;
        img {
            display: block;
            height: 750px;
            object-fit: cover;
            cursor: pointer;
        }
    }
}
