.swiper {
    img {
        width: 100%;
    }
    .swiper-pagination {
        --swiper-pagination-bullet-inactive-color: var(--color-primary);
        --swiper-pagination-color: var(--color-primary);
        --swiper-pagination-bullet-width: 22px;
        --swiper-pagination-bullet-height: 22px;
        padding-top: 40px;
        position: static;
        z-index: 2;

        .swiper-pagination-bullet {
            border: 4px var(--color-primary) solid;
            background: none;
            opacity: 1;
        }
        .swiper-pagination-bullet-active {
            border: 4px var(--color-primary) solid;
            background-color: var(--color-primary);
            opacity: 1;
        }
    }
}

.swiper-code {
    .swiper-slide {
        padding-top: 20px;
        width: 100%;
        height: 620px;
        color: var(--color-bg-primary);
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        @media screen and (max-width: $breakpoint-xs) {
            height: 465px !important;
        }
        @media screen and (max-width: $breakpoint-sm) {
            height: 520px !important;
        }

        .media-swiper {
            width: 100%;
            height: 620px;
            object-fit: cover;
            @media screen and (max-width: $breakpoint-xs) {
                height: 465px !important;
            }

            img {
                width: 100%;
                height: 100%;
                display: block;
                object-position: left;
                object-fit: cover;
                cursor: pointer;
                @media screen and (max-width: $breakpoint-sm) {
                    height: 520px !important;
                }
                @media screen and (max-width: $breakpoint-xs) {
                    height: 465px !important;
                }
            }
        }
    }
}

.swiper-integration {
    .swiper-slide {
        height: auto;
    }
    .intergration_media {
        height: 100%;
        width: 100%;
        object-fit: cover;

        img {
            display: block;
            height: 750px;
            object-fit: cover;
            cursor: pointer;
        }
    }
}
