.code-projet {
    height: 100%;
    padding: 100px 0;

    h2 {
        padding-bottom: 100px;
    }
    h4 {
        color: var(--color-white);
        font-size: 32px;
        padding-top: 32px;
        text-align: center;
    }
}
