.formulaire_contact {
    height: 100%;
    padding: 100px 0;

    .grid_contact {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 60px;

        @media screen and (max-width: $breakpoint-md) {
            grid-template-columns: repeat(1, 1fr);
            gap: 0;
            &:nth-child(2) {
                text-align: center;
            }
        }
        .infos_personnels {
            color: var(--color-white);
            padding-left: 125px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 50px;
            width: 100%;
            @media screen and (max-width: $breakpoint-md) {
                text-align: center;
                padding: 0;
            }
            @media screen and (max-width: $breakpoint-xs) {
                text-align: center;
                padding: 0;
                width: 100%;
            }
            h4 {
                padding-bottom: 35px;
            }
            p {
                font-size: 28px;
                width: 100%;
                @media screen and (max-width: $breakpoint-xs) {
                    text-align: center;
                    font-size: 22px;
                }
            }
        }
    }

    h1 {
        font-weight: bold;
        margin: 0;
        padding-bottom: 105px;
        color: var(--color-white);
        @media screen and (max-width: $breakpoint-md) {
            text-align: center;
        }
    }
}
