.integration {
    padding: 100px 0;
    height: 100%;
    @media screen and (max-width: $breakpoint-xs) {
        text-align: center;
    }

    h2,
    p {
        color: var(--color-white);
    }

    h2 {
        padding-bottom: 25px;
    }
    p {
        padding-bottom: 65px;
        font-size: var(--font-size-content);
    }

    img {
        @media screen and (max-width: $breakpoint-sm) {
            height: 520px !important;
        }
        @media screen and (max-width: $breakpoint-xs) {
            height: 465px !important;
        }
    }
}
