.logiciels {
    height: 100%;
    background-color: var(--color-black);
    padding: 100px 0;
    .swiper-logiciels {
        text-align: center;

        img {
            aspect-ratio: 1/1;
            width: 25%;
        }
        p {
            color: var(--color-white);
            font-size: 32px;
            font-weight: bold;
            padding-top: 16px;
        }
    }
}
