.modal-image {
    width: 200px; /* Largeur de l'image */
    cursor: pointer; /* Changer le curseur pour indiquer que c'est cliquable */
}

.modale-overlay {
    display: none; /* Commencer caché */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Assurez-vous que cet élément est au-dessus de tous les autres */
}

.modale-overlay.is-visible {
    display: flex; /* Affiche la modale */
}

.modale-content {
    position: relative;
    background: #fff;
    padding: 20px;
    max-width: 90%;
    max-height: 90%;
    overflow: auto;
    border-radius: 8px;
}

.modale-close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}
