/* ========================================================================== 
   scrolly / component
   ========================================================================== */

.has-js {
    @keyframes reveal {
        0% {
            clip-path: inset(0 100% 0 0);
        }
        100% {
            clip-path: inset(0 0 0 0);
        }
    }
    @keyframes revealFromBottom {
        0% {
            clip-path: inset(100% 0 0 0); /* Texte caché par le bas */
        }
        100% {
            clip-path: inset(0 0 0 0); /* Texte complètement révélé */
        }
    }
    @keyframes revealFromTop {
        0% {
            clip-path: inset(0 0 100% 0); /* Texte caché par le haut */
        }
        100% {
            clip-path: inset(0 0 0 0); /* Texte complètement révélé */
        }
    }
    @keyframes revealFromRight {
        0% {
            clip-path: inset(0 0 0 100%); /* Texte caché par le haut */
        }
        100% {
            clip-path: inset(0 0 0 0); /* Texte complètement révélé */
        }
    }

    [data-scrolly='flipCard'] {
        transform: rotateY(180deg);
        transition: all 0.7s ease-in-out;
        &.is-active {
            transform: rotateY(0);
            transition: all 0.7s ease-in-out;
        }
    }

    [data-scrolly='fromBottom'] {
        opacity: 0;
        transform: translateY(60px);
        transition: all 0.4s $ease-out-expo;
        filter: blur(10px);
        &.is-active {
            opacity: 1;
            transform: translateY(0);
            filter: blur(0);
        }
    }

    [data-scrolly='fromLeft'] {
        opacity: 0;
        transform: translateX(-200px);
        transition: all 0.4s $ease-out-expo;
        &.is-active {
            opacity: 1;
            transform: translateX(0);
        }
    }

    [data-scrolly='fromTop'] {
        opacity: 0;
        transform: translateY(-60px);
        transition: all 0.4s $ease-out-expo;
        filter: blur(10px);
        &.is-active {
            opacity: 1;
            transform: translateY(0);
            filter: blur(0);
        }
    }

    [data-scrolly='fromRight'] {
        opacity: 0;
        transform: translateX(200px);
        transition: all 0.4s $ease-out-expo;
        &.is-active {
            opacity: 1;
            transform: translateX(0);
        }
    }

    [data-scrolly='scale'] {
        transform: scale(1.3);
        transition: all 1s $ease-out-expo;
        &.is-active {
            transform: scale(1);
        }
    }

    [data-scrolly='rotate'] {
        transform: rotateX(90deg);
        transition: all 2s $ease-out-expo;
        &.is-active {
            transform: rotate(0);
        }
    }

    [data-scrolly='fade'] {
        opacity: 0;
        transition: all 2s $ease-out-expo;
        &.is-active {
            opacity: 1;
        }
    }

    /* Nouveau texte avec animation de révélation */
    [data-scrolly='revealFromLeft'] {
        position: relative;
        /* Ajustez la taille du texte selon vos besoins */
        font-weight: bold;
        background: linear-gradient(
            90deg,
            var(--color-white),
            var(--color-white)
        );
        color: transparent;
        background-clip: text;
        display: inline-block;
        clip-path: inset(0 100% 0 0); /* Texte caché par défaut */
        transition: clip-path 1s ease; /* Transition pour l'effet */

        &.is-active {
            clip-path: inset(0 0 0 0); /* Texte complètement révélé */
            animation: reveal 1s ease forwards; /* Animation à l'activation */
        }
    }

    [data-scrolly='revealFromBottom'] {
        position: relative;

        font-weight: bold;
        background: linear-gradient(
            90deg,
            var(--color-white),
            var(--color-white)
        );
        color: transparent;
        background-clip: text;
        display: inline-block;
        clip-path: inset(100% 0 0 0); /* Texte caché par défaut */
        transition: clip-path 0.5s ease; /* Transition pour l'effet */

        &.is-active {
            clip-path: inset(0 0 0 0); /* Texte complètement révélé */
            animation: revealFromBottom 0.5s ease forwards; /* Animation à l'activation */
        }
    }
    [data-scrolly='revealFromRight'] {
        position: relative;
        /* Ajustez la taille du texte selon vos besoins */
        font-weight: bold;
        background: linear-gradient(
            90deg,
            var(--color-white),
            var(--color-white)
        );
        color: transparent;
        background-clip: text;
        display: inline-block;
        clip-path: inset(0 0 0 100%); /* Texte caché par défaut */
        transition: clip-path 1s ease; /* Transition pour l'effet */

        &.is-active {
            clip-path: inset(0 0 0 0); /* Texte complètement révélé */
            animation: revealFromRight 1s ease forwards; /* Animation à l'activation */
        }
    }

    [data-scrolly='revealFromTop'] {
        position: relative;

        font-weight: bold;
        background: linear-gradient(
            90deg,
            var(--color-white),
            var(--color-white)
        );
        color: transparent;
        background-clip: text;
        display: inline-block;
        clip-path: inset(100% 0 0 0); /* Texte caché par défaut */
        transition: clip-path 2s ease; /* Transition pour l'effet */

        &.is-active {
            clip-path: inset(0 0 0 0); /* Texte complètement révélé */
            animation: revealFromTop 1s ease forwards; /* Animation à l'activation */
        }
    }
    [data-scrolly='revealSectionFromTop'] {
        position: relative;
        /* Ajustez la taille du texte selon vos besoins */
        font-weight: bold;

        color: transparent;

        clip-path: inset(100% 0 0 0); /* Texte caché par défaut */
        transition: clip-path 0.5s ease; /* Transition pour l'effet */

        &.is-active {
            clip-path: inset(0 0 0 0); /* Texte complètement révélé */
            animation: revealFromTop 0.5s ease forwards; /* Animation à l'activation */
        }
    }
    [data-scrolly='revealSectionFromBottom'] {
        position: relative;
        /* Ajustez la taille du texte selon vos besoins */
        font-weight: bold;

        color: transparent;

        clip-path: inset(100% 0 0 0); /* Texte caché par défaut */
        transition: clip-path 0.5s ease; /* Transition pour l'effet */

        &.is-active {
            clip-path: inset(0 0 0 0); /* Texte complètement révélé */
            animation: revealFromBottom 0.5s ease forwards; /* Animation à l'activation */
        }
    }
    [data-scrolly='revealSectionFromLeft'] {
        position: relative;
        /* Ajustez la taille du texte selon vos besoins */
        font-weight: bold;

        color: transparent;
        clip-path: inset(0 100% 0 0); /* Texte caché par défaut */
        transition: clip-path 1s ease; /* Transition pour l'effet */

        &.is-active {
            clip-path: inset(0 0 0 0); /* Texte complètement révélé */
            animation: revealFromLeft 1s ease forwards; /* Animation à l'activation */
        }
    }
    [data-scrolly='revealSectionFromRight'] {
        position: relative;
        /* Ajustez la taille du texte selon vos besoins */
        font-weight: bold;

        color: transparent;
        clip-path: inset(0 0 0 100%); /* Texte caché par défaut */
        transition: clip-path 0.5s ease; /* Transition pour l'effet */

        &.is-active {
            clip-path: inset(0 0 0 0); /* Texte complètement révélé */
            animation: revealFromRight 0.5s ease forwards; /* Animation à l'activation */
        }
    }
}
