/* ==========================================================================
   FONTS / SETTINGS
   ========================================================================== */
/// Font family
:root {
    --font-primary: 'Montserrat', sans-serif;
    --font-secondary: 'PT Sans', sans-serif;

    --font-size-content: 1.8rem;

    /// Grosseur des textes
    --font-size-h1: 62px;
    --font-size-h2: 7rem;
    --font-size-h3: 3.5rem;
    --font-size-h4: #{typo(24px, 28px)};
}
