{% include '_partials/_header.html' %}

<section class="hero hero-a-propos">
    <div class="wrapper">
        <div class="hero_media"><img src="assets/images/photo-a-propos.png" alt="" /></div>
        <div class="hero_content">
            <div class="info_hero">
                <h1>Rito José Blandon Pinzon</h1>
                <p class="sous_titre_hero">Développeur web <span>junior</span></p>
            </div>

            <a href="contact.html" class="bouton bouton_hero">Voir mes projets</a>
        </div>
    </div>
</section>

<section class="competences">
    <div class="wrapper cards_competences">
        <div class="card">
            <svg class="icon icon--md">
                <use xlink:href="#icon-instagram"></use>
            </svg>
            <h4>Développement web</h4>
            <p class="card-competence-texte">
                Je suis un developpeur web junior qui est avard de nouvelles connaissances et qui essaye de toujours en
                apprendre plus
            </p>
        </div>
        <div class="card">
            <svg class="icon icon--md">
                <use xlink:href="#icon-instagram"></use>
            </svg>
            <h4>Développement web</h4>
            <p class="card-competence-texte">
                Je suis un developpeur web junior qui est avard de nouvelles connaissances et qui essaye de toujours en
                apprendre plus
            </p>
        </div>
        <div class="card">
            <svg class="icon icon--md">
                <use xlink:href="#icon-instagram"></use>
            </svg>
            <h4>Développement web</h4>
            <p class="card-competence-texte">
                Je suis un developpeur web junior qui est avard de nouvelles connaissances et qui essaye de toujours en
                apprendre plus
            </p>
        </div>

        <div class="card">
            <svg class="icon icon--md">
                <use xlink:href="#icon-instagram"></use>
            </svg>
            <h4>Développement web</h4>
            <p class="card-competence-texte">
                Je suis un developpeur web junior qui est avard de nouvelles connaissances et qui essaye de toujours en
                apprendre plus
            </p>
        </div>
        <div class="card">
            <svg class="icon icon--md">
                <use xlink:href="#icon-instagram"></use>
            </svg>
            <h4>Développement web</h4>
            <p class="card-competence-texte">
                Je suis un developpeur web junior qui est avard de nouvelles connaissances et qui essaye de toujours en
                apprendre plus
            </p>
        </div>
        <div class="card">
            <svg class="icon icon--md">
                <use xlink:href="#icon-instagram"></use>
            </svg>
            <h4>Développement web</h4>
            <p class="card-competence-texte">
                Je suis un developpeur web junior qui est avard de nouvelles connaissances et qui essaye de toujours en
                apprendre plus
            </p>
        </div>
    </div>
</section>

{% include '_partials/_footer.html' %}
