{% include '_partials/_header.html' %}

<section class="hero hero-a-propos">
    <div class="wrapper">
        <div class="hero_media"><img src="assets/images/photo-a-propos.png" alt="" /></div>
        <div class="hero_content">
            <div class="info_hero">
                <div class="titre_contact" data-scrolly="revealFromTop">Rito José Blandon Pinzon</div>

                <p class="sous_titre_hero" data-scrolly="revealFromLeft">Développeur web <span>junior</span></p>
            </div>

            <a href="mes-projets.html" class="custom-btn btn-14 btn-hero">Voir mes projets</a>
        </div>
    </div>
</section>

<section class="competences" data-scrolly="revealSectionFromLeft">
    <div class="wrapper">
        <h1 data-scrolly="revealFromTop">Mes <span>compétences</span></h1>
        <div class="cards_competences">
            <div class="card" data-scrolly="flipCard">
                <svg class="icon icon--lg">
                    <use xlink:href="#icon-competenceweb"></use>
                </svg>
                <h4>Développement web</h4>
                <p class="card-competence-texte">
                    Je suis un developpeur web junior qui est avard de nouvelles connaissances et qui essaye de toujours
                    en apprendre plus
                </p>
            </div>
            <div class="card" data-scrolly="flipCard">
                <svg class="icon icon--lg">
                    <use xlink:href="#icon-competenceint"></use>
                </svg>
                <h4>Intégration web</h4>
                <p class="card-competence-texte">
                    Je suis un intégrateur web passionné, avec plusieurs années d'expérience. Je maîtrise l'intégration
                    HTML, CSS et JavaScript, mais je ne connais clairement pas tout ce que ces languages ont à offrir.
                </p>
            </div>
            <div class="card" data-scrolly="flipCard">
                <svg class="icon icon--lg">
                    <use xlink:href="#icon-competenceprog"></use>
                </svg>
                <h4>Programmation web</h4>
                <p class="card-competence-texte">
                    Je suis un développeur web qui est tout aussi capable d'utilisé la programmation web tel que
                    javascript ou encore le php pour les thèmes wordpress
                </p>
            </div>

            <div class="card" data-scrolly="flipCard">
                <svg class="icon icon--lg">
                    <use xlink:href="#icon-competenceres"></use>
                </svg>
                <h4>Résolution de problème</h4>
                <p class="card-competence-texte">
                    Je suis un adepte de la résolution de problèmes complexes, capable d'analyser rapidement des
                    situations et de proposer des solutions efficaces.
                </p>
            </div>
            <div class="card" data-scrolly="flipCard">
                <svg class="icon icon--lg">
                    <use xlink:href="#icon-competenceanalyse"></use>
                </svg>
                <h4>Analyse logique</h4>
                <p class="card-competence-texte">
                    Je suis bon en analyse logique, capable de décomposer des problèmes complexes en éléments simples
                    pour trouver des solutions claires et précises. Mon approche structurée garantit une prise de
                    décision efficace et rationnelle.
                </p>
            </div>
            <div class="card" data-scrolly="flipCard">
                <svg class="icon icon--lg">
                    <use xlink:href="#icon-competenceequipe"></use>
                </svg>
                <h4>Travail d'équipe</h4>
                <p class="card-competence-texte">
                    Je suis quelqu'un de très engagé dans le travail d'équipe, je favorise la communication et
                    l'entraide pour atteindre des objectifs communs. Mon approche encourage une dynamique positive et
                    des résultats collectifs solides.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="logiciels" data-scrolly="revealSectionFromTop">
    <div class="logos">
        <div class="logos-slide">
            <img src="assets/images/html.png" />
            <img src="assets/images/css.png" />
            <img src="assets/images/javascript.png" />
            <img src="assets/images/wp.png" />
            <img src="assets/images/php.png" />
            <img src="assets/images/vscode.png" />
            <img src="assets/images/fig.png" />
        </div>
        <div class="logos-slide">
            <img src="assets/images/html.png" />
            <img src="assets/images/css.png" />
            <img src="assets/images/javascript.png" />
            <img src="assets/images/wp.png" />
            <img src="assets/images/php.png" />
            <img src="assets/images/vscode.png" />
            <img src="assets/images/fig.png" />
        </div>
    </div>
</section>

<section class="infos_rito">
    <div class="wrapper">
        <div class="qualites" data-scrolly="revealFromLeft">
            <h2>Qualitées</h2>
            <ul>
                <li>Social</li>
                <li>Ponctuel</li>
                <li>Curieux</li>
                <li>Polyvalent</li>
            </ul>
        </div>

        <div class="loisirs" data-scrolly="revealFromRight">
            <h2>Loisirs</h2>
            <ul>
                <li>Jeux vidéos</li>
                <li>Lecture</li>
                <li>Apprentissage</li>
                <li>Voyage</li>
            </ul>
        </div>
    </div>
</section>

<section class="video_presentation" data-scrolly="revealFromTop">
    <div class="wrapper">
        <div class="texte_presentation">
            <h1 class="titre_moi">À propos de <span>moi</span></h1>
            <p class="texte_moi">
                Depuis que je suis petit, j'ai toujours aimé toucher à l'informatique . Dans mon temps libre, j'aime
                jouer aux jeux vidéos , et faire des projets. Je suis organisé dans mes projets et je travaille bien en
                équipe. J'aime beaucoup le développement web , surtout la partie programmation, mais j'ai encore
                beaucoup à apprendre sur le sujet. J'aspire à en apprendre plus dans le domaine de la programmation, en
                allant au à l'ETS, pour continuer mon apprentissage sur le sujet.
            </p>
        </div>
        <div class="video_presetantion">
            <div class="video" data-component="Youtube" data-video-id="dQw4w9WgXcQ">
                <div class="video__media js-youtube">
                    <img class="js-poster" src="assets/images/segaprojet.jpg" alt="Walter" />
                    <div class="cercle">
                        <svg class="icon icon--xl">
                            <use xlink:href="#icon-play"></use>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% include '_partials/_footer.html' %}
