{% include "_partials/_header.html" %}

<section class="hero hero-fiche" data-scrolly="revealSectionFromLeft">
    <div class="hero_media">
        <img class="hero_fond" src="assets/images/webconf-mockup.webp" alt="mockup-webconf-hero" />
    </div>
    <div class="wrapper">
        <div class="hero_content">
            <div class="info_hero">
                <h1 data-scrolly="revealFromRight">Webconf</h1>
                <p data-scrolly="revealFromTop" class="sous_titre_hero">
                    Projet scolaire | Intégration et programmation web
                </p>
            </div>

            <a
                href="https://ritoblandon.ca/projets/webconf/"
                aria-label="Lien site webconf"
                target="_blank"
                class="custom-btn btn-14 btn-hero"
                >Tester le site</a
            >
        </div>
    </div>
</section>

<section class="resume">
    <div class="wrapper">
        <div class="infos-projets">
            <h2 class="titre-resume" data-scrolly="revealFromTop">Un <span>résumé</span></h2>
            <p class="texte_resume" data-scrolly="revealFromLeft">
                Le but de ce projet était d'intégrer une maquette en site web pour la refonte du site de la
                Baie-St-Catherine. C'est donc un projet fictif qui visait à nous introduire aux différents composants
                JavaScript et aux diverses difficultés possibles dans l'intégration HTML et CSS, car nous avons
                travaillé avec beaucoup de nouveaux concepts que nous ne connaissions pas avant ce travail.
            </p>
        </div>
        <div class="informations-projet" data-scrolly="revealFromRight">
            <h2>Informations</h2>
            <div class="creation">
                <h3>Créateur du <span>projet</span></h3>
                <p>Rito José Blandon Pinzon</p>
            </div>
            <div class="logiciels">
                <h3>Logiciels <span>utilisés</span></h3>
                <p>Vs code, Figma</p>
            </div>
            <div class="competences-utilises">
                <h3>Compétences <span>utilisés</span></h3>
                <p>Design et intégration web</p>
            </div>
        </div>
    </div>
</section>

<section class="demo-projet">
    <div class="wrapper">
        <h2 data-scrolly="revealFromLeft">Démo du <span> projet</span></h2>
        <div class="video_presentation_projet">
            <video autoplay loop data-scrolly="revealFromTop">
                <source src="assets/video/webconf-demo.mp4" type="video/mp4" />
            </video>
        </div>
    </div>
</section>

<section class="maquette">
    <div class="wrapper">
        <h2 data-scrolly="revealFromLeft">Création de la <span>maquette</span></h2>
        <p data-scrolly="revealFromTop">
            Pour la conception de la maquette, les professeurs nous avaient fourni différentes composantes de sections.
            Nous pouvions donc choisir, à notre convenance, les différentes sections en fonction de la difficulté
            d'intégration que nous pourrions rencontrer.
        </p>

        <div class="frame-figma">
            <iframe
                data-scrolly="revealFromRight"
                height="100%"
                width="100%"
                src="https://www.figma.com/embed?embed_host=share&url=https://www.figma.com/design/BFeivaM4LeLMvBuOL9BBtJ/1022-Blandon-Pinzon%2C-Rito-Jose?node-id=0-1&node-type=canvas&t=qjQyY5CeN8anB7HA-0"
                allowfullscreen
                class="frame-embed"
            >
            </iframe>
        </div>
    </div>
</section>

<section class="integration">
    <div class="wrapper">
        <h2 data-scrolly="revealFromTop">De maquette à <span> intégration</span></h2>
        <p data-scrolly="revealFromBottom">
            Pour commencer le projet, j'ai utilisé la même approche que pour mes autres projets. J'ai commencé par
            intégrer le header et le footer, puis j'ai intégré section par section en HTML et CSS. J'ai également dû
            faire beaucoup de recherches sur Internet pour pouvoir intégrer certaines parties du site, car je n'avais
            jamais fait cela auparavant. Ensuite, j'ai veillé à ce que mon HTML soit le plus clair possible afin de
            pouvoir intégrer le site thème WordPress et rendre le site dynamique.
        </p>
        <div
            class="swiper swiper-integration"
            data-component="Carousel"
            data-autoplay
            data-scrolly="revealSectionFromRight"
        >
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="intergration_media">
                        <img
                            src="assets/images/webconf-int1.webp"
                            alt="image-integration"
                            class="open-modale integration-image"
                            data-component="ModaleIntegration"
                        />
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="intergration_media">
                        <img
                            src="assets/images/webconf-int2.webp"
                            alt="image-integration"
                            class="open-modale integration-image"
                            data-component="ModaleIntegration"
                        />
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="intergration_media">
                        <img
                            src="assets/images/webconf-int3.webp"
                            alt="image-integration"
                            class="open-modale integration-image"
                            data-component="ModaleIntegration"
                        />
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="intergration_media">
                        <img
                            src="assets/images/webconf-int4.webp"
                            alt="image-integration"
                            class="open-modale integration-image"
                            data-component="ModaleIntegration"
                        />
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
        <div class="modale-content integration">
            <button class="modale-close">X</button>
            <img src="assets/images/codeprojetsega1.webp" alt="Image en grand" class="modale-image" />
        </div>
    </div>
</section>

<section class="code-projet">
    <div class="wrapper">
        <h2 data-scrolly="revealFromTop">Exemple de <span> code</span></h2>
        <div
            class="swiper swiper-code"
            data-component="Carousel"
            data-autoplay
            data-split
            data-slides="3"
            data-scrolly="revealSectionFromLeft"
        >
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="media-swiper">
                        <img
                            src="assets/images/webconf-c1.webp"
                            alt="image-code"
                            class="open-modale code-image"
                            data-component="ModaleCode"
                        />
                    </div>
                    <div class="content-swiper"><h3>Script Main</h3></div>
                </div>
                <div class="swiper-slide">
                    <div class="media-swiper">
                        <img
                            src="assets/images/webconf-c2.webp"
                            alt="image-code"
                            class="open-modale code-image"
                            data-component="ModaleCode"
                        />
                    </div>
                    <div class="content-swiper"><h3>Script Main(suite)</h3></div>
                </div>
                <div class="swiper-slide">
                    <div class="media-swiper">
                        <img
                            src="assets/images/webconf-c3.webp"
                            alt="image-code"
                            class="open-modale code-image"
                            data-component="ModaleCode"
                        />
                    </div>
                    <div class="content-swiper"><h3>Html swiper</h3></div>
                </div>
                <div class="swiper-slide">
                    <div class="media-swiper">
                        <img
                            src="assets/images/webconf-c4.webp"
                            alt="image-code"
                            class="open-modale code-image"
                            data-component="ModaleCode"
                        />
                    </div>
                    <div class="content-swiper"><h3>Css swiper</h3></div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>

        <!-- Modale Structure -->

        <div class="modale-content code">
            <button class="modale-close">X</button>
            <img src="assets/images/baistcatherine-mockup.webp" alt="Image en grand" class="modale-image" />
        </div>
    </div>
</section>

<section class="contribution-rito" data-component="Accordion">
    <div class="wrapper">
        <div class="titre_faq">
            <h2 data-scrolly="reveakFromTop">Compétences <span>acquises</span></h2>
        </div>

        <div class="accordion">
            <div class="accordion__container js-accordion">
                <div class="accordion__header" data-scrolly="fromRight">
                    Intégration html et css du header et footer
                    <div class="accordion__icon">
                        <div class="plus">
                            <span class="bar_accordion"></span>
                            <span class="bar_accordion"></span>
                        </div>
                    </div>
                </div>
                <div class="accordion__content">
                    C'est l'un des premiers projets où j'ai pu utiliser les partials pour intégrer mon header et mon
                    footer. C'est également le premier projet où j'ai dû intégrer un menu burger pour la version mobile.
                </div>
            </div>
            <div class="accordion__container js-accordion">
                <div class="accordion__header" data-scrolly="fromRIght">
                    Intégration css swiper et sections
                    <div class="accordion__icon">
                        <div class="plus">
                            <span class="bar_accordion"></span>
                            <span class="bar_accordion"></span>
                        </div>
                    </div>
                </div>
                <div class="accordion__content">
                    C'est le premier projet où j'ai intégré un swiper JavaScript et où j'ai utilisé une grille plus
                    complexe que simplement 1fr 1fr. J'ai donc utilisé les grilles d'une nouvelle façon pour placer les
                    images, et j'ai également utilisé le swiper pour la page d'un conférencier.
                </div>
            </div>
            <div class="accordion__container js-accordion">
                <div class="accordion__header" data-scrolly="fromLeft">
                    Consolidation des bases
                    <div class="accordion__icon">
                        <div class="plus">
                            <span class="bar_accordion"></span>
                            <span class="bar_accordion"></span>
                        </div>
                    </div>
                </div>
                <div class="accordion__content">
                    Dans ce projet, afin d'avoir le moins de bogues possible, je devais avoir un HTML pertinent. Cela a
                    donc été un défi d'obtenir un bon HTML pour pouvoir bien intégrer les différentes sections en CSS.
                </div>
            </div>
            <div class="accordion__container js-accordion">
                <div class="accordion__header" data-scrolly="fromRight">
                    Consolidation des bases(suite)
                    <div class="accordion__icon">
                        <div class="plus">
                            <span class="bar_accordion"></span>
                            <span class="bar_accordion"></span>
                        </div>
                    </div>
                </div>
                <div class="accordion__content">
                    Dans ce projet, j'ai beaucoup été mis à l'épreuve. J'ai intégré des éléments que j'avais déjà
                    réalisés dans le passé, mais chaque fois avec un peu plus de complexité ou avec un petit changement
                    qui faisait que la méthode conventionnelle que j'avais utilisée auparavant ne fonctionnait pas.
                </div>
            </div>
        </div>
    </div>
</section>

{% include "_partials/_footer.html" %}
