{% include "_partials/_header.html" %}

<section class="hero hero-fiche" data-scrolly="revealSectionFromLeft">
    <div class="hero_media">
        <img class="hero_fond" src="assets/images/webconf-mockup.png" alt="" />
    </div>
    <div class="wrapper">
        <div class="hero_content">
            <div class="info_hero">
                <h1 data-scrolly="revealFromRight">Webconf</h1>
                <p data-scrolly="revealFromTop" class="sous_titre_hero">
                    Projet scolaire | Intégration et programmation web
                </p>
            </div>

            <a href="https://rblandonpinzon.dectim.ca/webjam/" target="_blank" class="custom-btn btn-14 btn-hero"
                >Tester le site</a
            >
        </div>
    </div>
</section>

<section class="resume">
    <div class="wrapper">
        <div class="infos-projets">
            <h2 class="titre-resume" data-scrolly="revealFromTop">Un <span>résumé</span></h2>
            <p class="texte_resume" data-scrolly="revealFromLeft">
                Le but de ce projet était d'intégré en site web une maquette qui venait faire la refonte du site de la
                Baie-St-Catherine. C'est donc un projet fictif qui avait pour but de nous introduire au différents
                composants javascript et au différente difficulté possible dans l'intégration html et css car nous avont
                travailler avec beacoup de nouveaux concepts que nous ne connaissions pas avant ce travail.
            </p>
        </div>
        <div class="informations-projet" data-scrolly="revealFromRight">
            <h2>Informations</h2>

            <h4>Créateur du <span>projet</span></h4>
            <p>Rito José Blandon Pinzon</p>

            <h4>Logiciels <span>utilisés</span></h4>
            <p>Vs code, Figma et Wordpress</p>

            <h4>Compétences<span>utilisés</span></h4>
            <p>Intégraton et programmation web</p>
        </div>
    </div>
</section>

<section class="demo-projet">
    <div class="wrapper">
        <h2 data-scrolly="revealFromLeft">Démo du <span> projet</span></h2>
        <div class="video_presentation_projet">
            <video autoplay loop data-scrolly="revealFromTop">
                <source src="assets/video/webconf-demo.mp4" type="video/mp4" />
            </video>
        </div>
    </div>
</section>

<section class="maquette">
    <div class="wrapper">
        <h2 data-scrolly="revealFromLeft">Création de la <span>maquette</span></h2>
        <p data-scrolly="revealFromTop">
            Pour la conception de la maquette, les professeurs nous avaient fourni différentes composantes de sections.
            Nous pouvions donc choisir à notre convenance les différents section par rapport à la difficulté
            d'intégration que tu pourrais rencontré.
        </p>

        <div class="frame-figma">
            <iframe
                data-scrolly="revealFromRight"
                height="100%"
                width="100%"
                src="https://www.figma.com/embed?embed_host=share&url=https://www.figma.com/design/BFeivaM4LeLMvBuOL9BBtJ/1022-Blandon-Pinzon%2C-Rito-Jose?node-id=0-1&node-type=canvas&t=qjQyY5CeN8anB7HA-0"
                allowfullscreen
                class="frame-embed"
            >
            </iframe>
        </div>
    </div>
</section>

<section class="integration">
    <div class="wrapper">
        <h2 data-scrolly="revealFromTop">De maquette à <span> intégration</span></h2>
        <p data-scrolly="revealFromBottom">
            Pour commencer le projet, j'ai utiliser la même approche que mes autres projets. J'ai commencer par intégré
            le header et le footer pour ensuite intégré section par section en html et css. J'ai aussi dû faire beacoup
            de recherche sur internet pour pouvoir intégré certaines parties du site vu que je n'avais jamais fait cela.
            Ensuite j'ai fait en sorte que mon html soit le plus clair possible pour ensuite pouvoir intégré le site en
            thème wordpress et donc rendre le site dynamique.
        </p>
        <div
            class="swiper swiper-integration"
            data-component="Carousel"
            data-autoplay
            data-scrolly="revealSectionFromRight"
        >
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="intergration_media">
                        <img
                            src="assets/images/webconf-integration1.JPG"
                            alt="image-integration"
                            class="open-modale integration-image"
                            data-component="ModaleIntegration"
                        />
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="intergration_media">
                        <img
                            src="assets/images/webconf-integration2.JPG"
                            alt="image-integration"
                            class="open-modale integration-image"
                            data-component="ModaleIntegration"
                        />
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="intergration_media">
                        <img
                            src="assets/images/webconf-integration3.JPG"
                            alt="image-integration"
                            class="open-modale integration-image"
                            data-component="ModaleIntegration"
                        />
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="intergration_media">
                        <img
                            src="assets/images/webconf-integration4.JPG"
                            alt="image-integration"
                            class="open-modale integration-image"
                            data-component="ModaleIntegration"
                        />
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
        <div class="modale-content integration">
            <button class="modale-close">X</button>
            <img src="assets/images/codeprojetsega1.jpg" alt="Image en grand" class="modale-image" />
        </div>
    </div>
</section>

<section class="code-projet">
    <div class="wrapper">
        <h2 data-scrolly="revealFromTop">Exemple de <span> code</span></h2>
        <div
            class="swiper swiper-code"
            data-component="Carousel"
            data-autoplay
            data-split
            data-slides="3"
            data-scrolly="revealSectionFromLeft"
        >
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="media-swiper">
                        <img
                            src="assets/images/weconf-code1.JPG"
                            alt="image-code"
                            class="open-modale code-image"
                            data-component="ModaleCode"
                        />
                    </div>
                    <div class="content-swiper"><h4>Script Main</h4></div>
                </div>
                <div class="swiper-slide">
                    <div class="media-swiper">
                        <img
                            src="assets/images/webconf-code2.JPG"
                            alt="image-code"
                            class="open-modale code-image"
                            data-component="ModaleCode"
                        />
                    </div>
                    <div class="content-swiper"><h4>Script Main(suite)</h4></div>
                </div>
                <div class="swiper-slide">
                    <div class="media-swiper">
                        <img
                            src="assets/images/webconf-code3.JPG"
                            alt="image-code"
                            class="open-modale code-image"
                            data-component="ModaleCode"
                        />
                    </div>
                    <div class="content-swiper"><h4>Html swiper</h4></div>
                </div>
                <div class="swiper-slide">
                    <div class="media-swiper">
                        <img
                            src="assets/images/webconf-code4.JPG"
                            alt="image-code"
                            class="open-modale code-image"
                            data-component="ModaleCode"
                        />
                    </div>
                    <div class="content-swiper"><h4>Css swiper</h4></div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>

        <!-- Modale Structure -->

        <div class="modale-content code">
            <button class="modale-close">X</button>
            <img src="assets/images/baistcatherine-mockup.png" alt="Image en grand" class="modale-image" />
        </div>
    </div>
</section>

<section class="contribution-rito" data-component="Accordion">
    <div class="wrapper">
        <div class="titre_faq">
            <h2 data-scrolly="reveakFromTop">Compétences <span>acquises</span></h2>
        </div>

        <div class="accordion">
            <div class="accordion__container js-accordion">
                <div class="accordion__header" data-scrolly="fromRight">
                    Intégration html et css du header et footer
                    <div class="accordion__icon">
                        <div class="plus">
                            <span class="bar_accordion"></span>
                            <span class="bar_accordion"></span>
                        </div>
                    </div>
                </div>
                <div class="accordion__content">
                    C'est un des premiers projets ou j'ai pû utiliser les partials pour pouvoir intégré mon header et
                    mon footer. C'est aussi le premier projet ou j'ai dû intégré un menu burger pour la version mobile.
                </div>
            </div>
            <div class="accordion__container js-accordion">
                <div class="accordion__header" data-scrolly="fromRIght">
                    Intégration css swiper et sections
                    <div class="accordion__icon">
                        <div class="plus">
                            <span class="bar_accordion"></span>
                            <span class="bar_accordion"></span>
                        </div>
                    </div>
                </div>
                <div class="accordion__content">
                    C'est le premier projet ou j'ai intégré un swiper javascript et ou j'ai utiliser une grille plus
                    complexe que seulement 1fr 1fr. J'ai donc utiliser les grilles d'une nouvelle façon pour placer les
                    images et j'ai aussi utiliser le swiper pour la page d'un conférenciers.
                </div>
            </div>
            <div class="accordion__container js-accordion" data-auto-open>
                <div class="accordion__header" data-scrolly="fromLeft">
                    Consolidation des bases
                    <div class="accordion__icon">
                        <div class="plus">
                            <span class="bar_accordion"></span>
                            <span class="bar_accordion"></span>
                        </div>
                    </div>
                </div>
                <div class="accordion__content">
                    Dans ce projet, pour que il y ait le moins de bogue possible je devais avoir un html pertinent. Cela
                    à donc été un défi d'avoir un bon html pour pouvoir bien intégré les différentes sections en css
                </div>
            </div>
            <div class="accordion__container js-accordion" data-auto-open>
                <div class="accordion__header" data-scrolly="fromRight">
                    Consolidation des bases(suite)
                    <div class="accordion__icon">
                        <div class="plus">
                            <span class="bar_accordion"></span>
                            <span class="bar_accordion"></span>
                        </div>
                    </div>
                </div>
                <div class="accordion__content">
                    Dans ce projet j'ai beacoup été mis à l'épreuve. J'ai intégré des choses que j'avais déjà faite dans
                    les passé mais chaque fois en un peu plus complexe ou encore avec un petit changement qui fait en
                    sorte que la manière conventionnel que j'avais utilisé dans le passé ne fonctionnait pas.
                </div>
            </div>
        </div>
    </div>
</section>

{% include "_partials/_footer.html" %}
