{% include "_partials/_header.html" %}

<section class="hero hero-fiche">
    <div class="hero_media">
        <img class="hero_fond" src="assets/images/segaprojet.jpg" alt="" />
    </div>
    <div class="wrapper">
        <div class="hero_content">
            <div class="info_hero">
                <h1>Console Sega DBS</h1>
                <p class="sous_titre_hero">Développeur web <span>junior</span></p>
            </div>

            <a href="" class="bouton bouton_hero">Voir mes projets</a>
        </div>
    </div>
</section>

<section class="resume">
    <div class="wrapper">
        <div class="infos-projets">
            <h2 class="titre-resume">Un <span>résumé</span></h2>
            <p class="texte_resume">
                Le projet web consiste à développer une plateforme en ligne interactive dédiée à la gestion de projets
                collaboratifs. L'objectif est de créer un espace où les utilisateurs peuvent planifier, suivre et
                coordonner des tâches en temps réel. La plateforme offrira des outils tels que des tableaux de bord
                personnalisables, des calendriers partagés,
            </p>
        </div>
        <div class="informations-projet">
            <h2>Informations</h2>

            <h4>Créateur du <span>projet</span></h4>
            <p>Rito José Blandon Pinzon</p>

            <h4>Logiciels <span>utilisés</span></h4>
            <p>Vs code, Figma</p>

            <h4>Logiciels <span>utilisés</span></h4>
            <p>Design et intégration d'un site web</p>
        </div>
    </div>
</section>

<section class="demo-projet"></section>

{% include "_partials/_footer.html" %}
