{% include "_partials/_header.html" %}

<section class="hero hero-fiche" data-scrolly="revealSectionFromLeft">
    <div class="hero_media">
        <img class="hero_fond" src="assets/images/etimmockuo.webp" alt="mockup-sega-timesports" />
    </div>
    <div class="wrapper">
        <div class="hero_content">
            <div class="info_hero">
                <h1 data-scrolly="revealFromRight">Tim esports</h1>
                <p data-scrolly="revealFromTop" class="sous_titre_hero">Projet scolaire | Intégration web</p>
            </div>

            <a
                href="https://ritoblandon.ca/projets/tim-esports/"
                aria-label="Lien site TIM esports"
                target="_blank"
                class="custom-btn btn-14 btn-hero"
                >Tester le site</a
            >
        </div>
    </div>
</section>

<section class="resume">
    <div class="wrapper">
        <div class="infos-projets">
            <h2 class="titre-resume" data-scrolly="revealFromTop">Un <span>résumé</span></h2>
            <p class="texte_resume" data-scrolly="revealFromLeft">
                Le but du projet était d'intégrer un site web pour un site esports nommé Tim Esports. Celui-ci présente
                leurs jeux les plus populaires ainsi que les différents avantages offerts aux membres. C'est donc un
                site avec plusieurs pages : accueil, nos jeux et une page pour chaque jeu.
            </p>
        </div>
        <div class="informations-projet" data-scrolly="revealFromRight">
            <h2>Informations</h2>
            <div class="creation">
                <h3>Créateur du <span>projet</span></h3>
                <p>Rito José Blandon Pinzon</p>
            </div>
            <div class="logiciels">
                <h3>Logiciels <span>utilisés</span></h3>
                <p>Vs code, Figma</p>
            </div>
            <div class="competences-utilises">
                <h3>Compétences <span>utilisés</span></h3>
                <p>Design et intégration web</p>
            </div>
        </div>
    </div>
</section>

<section class="demo-projet">
    <div class="wrapper">
        <h2 data-scrolly="revealFromLeft">Démo du <span> projet</span></h2>
        <div class="video_presentation_projet">
            <video autoplay loop data-scrolly="revealFromTop">
                <source src="assets/video/etim-demo.mp4" type="video/mp4" />
            </video>
        </div>
    </div>
</section>

<section class="maquette">
    <div class="wrapper">
        <h2 data-scrolly="revealFromLeft">Création de la <span>maquette</span></h2>
        <p data-scrolly="revealFromTop">
            Le design du site nous avait été fourni par les professeurs et nous n'avions qu'à intégrer la maquette.
        </p>

        <div class="frame-figma">
            <iframe
                data-scrolly="revealFromRight"
                height="100%"
                width="100%"
                src="https://www.figma.com/embed?embed_host=share&url=https://www.figma.com/design/qBArAxhTLLWYFtzffYmn7o/Travail-Pratique-%231?node-id=0-1&node-type=canvas&t=jCNELcFsmVVt53go-0"
                allowfullscreen
                class="frame-embed"
            >
            </iframe>
        </div>
    </div>
</section>

<section class="integration">
    <div class="wrapper">
        <h2 data-scrolly="revealFromTop">De maquette à <span> intégration</span></h2>
        <p data-scrolly="revealFromBottom">
            Pour commencer ce projet, j'ai directement intégré la page d'accueil. C'est un projet que j'ai réalisé au
            début de mon parcours en technique, donc il n'est pas parfait et illustre bien comment mon approche de
            travail a évolué. J'ai veillé à structurer les fichiers et les différents documents de la manière la plus
            claire possible pour rendre le HTML et le CSS plus compréhensibles.
        </p>
        <div
            class="swiper swiper-integration"
            data-component="Carousel"
            data-autoplay
            data-scrolly="revealSectionFromRight"
        >
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="intergration_media">
                        <img
                            src="assets/images/etim-int1.webp"
                            alt="image-integration"
                            class="open-modale integration-image"
                            data-component="ModaleIntegration"
                        />
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="intergration_media">
                        <img
                            src="assets/images/etim-int2.webp"
                            alt="image-integration"
                            class="open-modale integration-image"
                            data-component="ModaleIntegration"
                        />
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="intergration_media">
                        <img
                            src="assets/images/etim-int3.webp"
                            alt="image-integration"
                            class="open-modale integration-image"
                            data-component="ModaleIntegration"
                        />
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="intergration_media">
                        <img
                            src="assets/images/etim-int4.webp"
                            alt="image-integration"
                            class="open-modale integration-image"
                            data-component="ModaleIntegration"
                        />
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
        <div class="modale-content integration">
            <button class="modale-close">X</button>
            <img src="assets/images/codeprojetsega1.jpg" alt="Image en grand" class="modale-image" />
        </div>
    </div>
</section>

<section class="code-projet">
    <div class="wrapper">
        <h2 data-scrolly="revealFromTop">Exemple de <span>fonctionnalitées </span></h2>
        <div
            class="swiper swiper-code"
            data-component="Carousel"
            data-autoplay
            data-split
            data-slides="3"
            data-scrolly="revealSectionFromLeft"
        >
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="media-swiper">
                        <img
                            src="assets/images/etim-c1.webp"
                            alt="image-code"
                            class="open-modale code-image"
                            data-component="ModaleCode"
                        />
                    </div>
                    <div class="content-swiper"><h3>Script Main</h3></div>
                </div>
                <div class="swiper-slide">
                    <div class="media-swiper">
                        <img
                            src="assets/images/etim-code2.webp"
                            alt="image-code"
                            class="open-modale code-image"
                            data-component="ModaleCode"
                        />
                    </div>
                    <div class="content-swiper"><h3>Exemple forms</h3></div>
                </div>
                <div class="swiper-slide">
                    <div class="media-swiper">
                        <img
                            src="assets/images/etim-c3.webp"
                            alt="image-code"
                            class="open-modale code-image"
                            data-component="ModaleCode"
                        />
                    </div>
                    <div class="content-swiper"><h3>Exemple forms(suite)</h3></div>
                </div>
                <div class="swiper-slide">
                    <div class="media-swiper">
                        <img
                            src="assets/images/etim-c4.webp"
                            alt="image-code"
                            class="open-modale code-image"
                            data-component="ModaleCode"
                        />
                    </div>
                    <div class="content-swiper"><h3>Intégration forms</h3></div>
                </div>
                <div class="swiper-slide">
                    <div class="media-swiper">
                        <img
                            src="assets/images/etim-c5.webp"
                            alt="image-code"
                            class="open-modale code-image"
                            data-component="ModaleCode"
                        />
                    </div>
                    <div class="content-swiper"><h3>Intégration forms(suite)</h3></div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>

        <!-- Modale Structure -->

        <div class="modale-content code">
            <button class="modale-close">X</button>
            <img src="assets/images/baistcatherine-mockup.png" alt="Image en grand" class="modale-image" />
        </div>
    </div>
</section>
<section class="contribution-rito" data-component="Accordion">
    <div class="wrapper">
        <div class="titre_faq">
            <h2 data-scrolly="reveakFromTop">Compétences <span>acquises</span></h2>
        </div>

        <div class="accordion">
            <div class="accordion__container js-accordion">
                <div class="accordion__header" data-scrolly="fromRight">
                    Introduction des positions absolute et relative
                    <div class="accordion__icon">
                        <div class="plus">
                            <span class="bar_accordion"></span>
                            <span class="bar_accordion"></span>
                        </div>
                    </div>
                </div>
                <div class="accordion__content">
                    Ce projet est l'un des premiers projets scolaires où j'ai utilisé les positions absolues, que ce
                    soit pour le héros ou pour le hover des cartes de jeu.
                </div>
            </div>
            <div class="accordion__container js-accordion">
                <div class="accordion__header" data-scrolly="fromRIght">
                    Animations de hover
                    <div class="accordion__icon">
                        <div class="plus">
                            <span class="bar_accordion"></span>
                            <span class="bar_accordion"></span>
                        </div>
                    </div>
                </div>
                <div class="accordion__content">
                    Ce projet m'a également permis d'expérimenter différentes animations de hover, comme le scaling ou
                    le contenu des cartes qui se révèlent grâce à un gradient. C'est donc un projet où j'ai beaucoup
                    expérimenté pour découvrir de nouvelles choses.
                </div>
            </div>
            <div class="accordion__container js-accordion">
                <div class="accordion__header" data-scrolly="fromLeft">
                    Expérimentation
                    <div class="accordion__icon">
                        <div class="plus">
                            <span class="bar_accordion"></span>
                            <span class="bar_accordion"></span>
                        </div>
                    </div>
                </div>
                <div class="accordion__content">
                    Durant ce projet, comme j'avais du temps, j'ai décidé d'expérimenter de nouvelles choses, comme
                    intégrer un swiper avant que les professeurs ne nous montrent la composante, ou encore intégrer un
                    menu burger avec un menu mobile. J'ai également pris le temps de créer une page pour tous les jeux,
                    mais je me suis rendu compte, en suivant le cours de WordPress, que c'était beaucoup plus facile de
                    faire cela en PHP.
                </div>
            </div>
            <div class="accordion__container js-accordion">
                <div class="accordion__header" data-scrolly="fromRight">
                    Animations
                    <div class="accordion__icon">
                        <div class="plus">
                            <span class="bar_accordion"></span>
                            <span class="bar_accordion"></span>
                        </div>
                    </div>
                </div>
                <div class="accordion__content">
                    C'est également le premier projet où j'ai créé un semblant de scrolling et où j'ai ajouté une
                    animation sur le h1 du héro qui se déclenche lors du chargement de la page.
                </div>
            </div>
        </div>
    </div>
</section>
{% include "_partials/_footer.html" %}
