{% include "_partials/_header.html" %}

<section class="hero hero-fiche">
    <div class="hero_media">
        <img class="hero_fond" src="assets/images/segaprojet.jpg" alt="" />
    </div>
    <div class="wrapper">
        <div class="hero_content">
            <div class="info_hero">
                <h1>Console Sega DBS</h1>
                <p class="sous_titre_hero">Projet personnel | Design et intrégration web</p>
            </div>

            <a href="" class="bouton bouton_hero">Tester le site</a>
        </div>
    </div>
</section>

<section class="resume">
    <div class="wrapper">
        <div class="infos-projets">
            <h2 class="titre-resume">Un <span>résumé</span></h2>
            <p class="texte_resume">
                La maquette à été créer dans le cadre du cours de Design Interactif. J'avais pour but de créer un
                one-pager qui viendrait révélé les qualitées et les différentes caractéristiques d'un produit fictif
                dans le but de le vendre.
            </p>
        </div>
        <div class="informations-projet">
            <h2>Informations</h2>

            <h4>Créateur du <span>projet</span></h4>
            <p>Rito José Blandon Pinzon</p>

            <h4>Logiciels <span>utilisés</span></h4>
            <p>Vs code, Figma</p>

            <h4>Logiciels <span>utilisés</span></h4>
            <p>Design et intégration d'un site web</p>
        </div>
    </div>
</section>

<section class="demo-projet">
    <div class="wrapper">
        <h2>Démo du <span> projet</span></h2>
        <div class="video_presentation">
            <div class="video" data-component="Youtube" data-video-id="b3nJPqwEg1o" data-autoplay="true">
                <div class="video__media js-youtube">
                    <img
                        data-scrolly="fromLeft"
                        class="js-poster"
                        src="assets/images/segaprojet.jpg"
                        alt="demo-projet"
                    />
                    <div class="cercle">
                        <svg class="icon icon--xl">
                            <use xlink:href="#icon-play"></use>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="maquette">
    <div class="wrapper">
        <h2>Création de la <span>maquette</span></h2>
        <p>
            Pour la maquette j'ai commencé par m'inspirer des différents site de console de jeux pour pouvoir me faire
            une idée du type de site que je devrais faire. Puis j'ai aussi utilisé les différentes couleurs et images
            qui était en lien avec la console donc le bleu ou encore le orange. Je me suis aussi basé des différents
            site comme Nintendo, Xbox ou de la PS5 pour trouvé mes fonts et m'inspiré du style des sections de contenues
        </p>

        <div class="hero_media swiper swiper-maquette" data-component="Carousel" data-autoplay>
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="assets/images/maquette1.jpg" alt="" />
                </div>
                <div class="swiper-slide">
                    <img src="assets/images/imagemaquettesega2.JPG" alt="" />
                </div>
            </div>
        </div>
    </div>
</section>

<section class="integration">
    <div class="wrapper">
        <h2>De maquette à <span> intégration</span></h2>
        <p>
            Le projet web consiste à développer une plateforme en ligne interactive dédiée à la gestion de projets
            collaboratifs. L'objectif est de créer un espace où les utilisateurs peuvent planifier, suivre et coordonner
            des tâches en temps réel. La plateforme offrira des outils tels que des tableaux de bord personnalisables,
            des calendriers partagés,
        </p>
        <div class="swiper swiper-maquette" data-component="Carousel" data-autoplay>
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="assets/images/integrationsega1.jpg" alt="image-integration-sega1" />
                </div>
                <div class="swiper-slide">
                    <img src="assets/images/integrationsega2.JPG" alt="image-integration-sega1" />
                </div>
                <div class="swiper-slide">
                    <img src="assets/images/integration3.JPG" alt="image-integration-sega1" />
                </div>
            </div>
        </div>
    </div>
</section>

<section class="code-projet">
    <div class="wrapper">
        <h2>Exemple de <span> code</span></h2>
        <div class="swiper swiper-code" data-component="Carousel" data-autoplay data-split data-slides="3">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img
                        data-component="Modale"
                        class="modale-img"
                        src="assets/images/scriptsegacaroussel.jpg"
                        alt="image-integration-sega1"
                    />
                    <h4>Script Caroussel</h4>
                </div>
                <div class="swiper-slide">
                    <img src="assets/images/scriptsegascrolly.jpg" alt="image-integration-sega1" />
                    <h4>Script Scrolly</h4>
                </div>
                <div class="swiper-slide">
                    <img src="assets/images/codeprojetsega1.jpg" alt="image-integration-sega1" />
                    <h4>Script Header</h4>
                </div>
                <div class="swiper-slide">
                    <img src="assets/images/scriptheadersega2.JPG" alt="image-integration-sega1" />
                    <h4>Script Header(suite)</h4>
                </div>
            </div>
        </div>
    </div>
</section>

{% include "_partials/_footer.html" %}
