{% include "_partials/_header.html" %}

<section class="hero hero-fiche" data-scrolly="revealSectionFromLeft">
    <div class="hero_media">
        <img class="hero_fond" src="assets/images/mockup-sega.jpg" alt="" />
    </div>
    <div class="wrapper">
        <div class="hero_content">
            <div class="info_hero">
                <h1 data-scrolly="revealFromRight">Console Sega DBS</h1>
                <p data-scrolly="revealFromTop" class="sous_titre_hero">
                    Projet personnel | Design et intrégration web
                </p>
            </div>

            <a href="https://ritoblandon.ca/projets/sega-dbs/" class="custom-btn btn-14 btn-hero" target="_blank"
                >Tester le site</a
            >
        </div>
    </div>
</section>

<section class="resume">
    <div class="wrapper">
        <div class="infos-projets">
            <h2 class="titre-resume" data-scrolly="revealFromTop">Un <span>résumé</span></h2>
            <p class="texte_resume" data-scrolly="revealFromLeft">
                La maquette a été créée dans le cadre du cours de Design Interactif. Mon objectif était de concevoir un
                one-pager qui mettrait en valeur les qualités et les différentes caractéristiques d'un produit fictif
                dans le but de le vendre.
            </p>
        </div>
        <div class="informations-projet" data-scrolly="revealFromRight">
            <h2>Informations</h2>
            <div class="creation">
                <h4>Créateur du <span>projet</span></h4>
                <p>Rito José Blandon Pinzon</p>
            </div>
            <div class="logiciels">
                <h4>Logiciels <span>utilisés</span></h4>
                <p>Vs code, Figma</p>
            </div>
            <div class="competences-utilises">
                <h4>Compétences <span>utilisés</span></h4>
                <p>Design et intégration web</p>
            </div>
        </div>
    </div>
</section>

<section class="demo-projet">
    <div class="wrapper">
        <h2 data-scrolly="revealFromLeft">Démo du <span> projet</span></h2>
        <div class="video_presentation_projet">
            <video autoplay loop data-scrolly="revealFromTop">
                <source src="assets/video/DemoSegaDBS.mp4" type="video/mp4" />
            </video>
        </div>
    </div>
</section>

<section class="maquette">
    <div class="wrapper">
        <h2 data-scrolly="revealFromLeft">Création de la <span>maquette</span></h2>
        <p data-scrolly="revealFromTop">
            Pour la maquette, j'ai commencé par m'inspirer des différents sites de consoles de jeux afin de me faire une
            idée du type de site que je devais réaliser. J'ai également utilisé les différentes couleurs et images en
            lien avec la console, comme le bleu et l'orange. Je me suis aussi basé sur des sites tels que Nintendo, Xbox
            et la PS5 pour trouver mes fonds et m'inspirer du style des sections de contenu.
        </p>

        <div class="frame-figma">
            <iframe
                data-scrolly="revealFromRight"
                height="100%"
                width="100%"
                src="https://www.figma.com/embed?embed_host=share&url=https://www.figma.com/design/t6Z7rf2Vegr3WpSECUqeR3/1012_BlandonPinzon_Ritojose?node-id=2208-137&node-type=canvas&t=S0C9HtWI1Ts0XmNI-0"
                allowfullscreen
                class="frame-embed"
            >
            </iframe>
        </div>
    </div>
</section>

<section class="integration">
    <div class="wrapper">
        <h2 data-scrolly="revealFromTop">De maquette à <span> intégration</span></h2>
        <p data-scrolly="revealFromBottom">
            Pour l'intégration, j'ai commencé par intégrer mon stack Tim Tools afin de pouvoir réutiliser mes
            différentes composantes. Ensuite, j'ai construit le squelette du site en HTML, pour finalement l'intégrer en
            CSS. Par la suite, j'ai procédé section par section pour l'intégration, en m'assurant que chaque section
            était complétée avant de passer à la suivante.
        </p>
        <div
            class="swiper swiper-integration"
            data-component="Carousel"
            data-scrolly="revealSectionFromRight"
            data-split=""
        >
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="intergration_media">
                        <img
                            src="assets/images/integration-sega1.JPG"
                            alt="image-integration"
                            class="open-modale integration-image"
                            data-component="ModaleIntegration"
                        />
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="intergration_media">
                        <img
                            src="assets/images/integration-sega2.JPG"
                            alt="image-integration"
                            class="open-modale integration-image"
                            data-component="ModaleIntegration"
                        />
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="intergration_media">
                        <img
                            src="assets/images/integration-sega3.JPG"
                            alt="image-integration"
                            class="open-modale integration-image"
                            data-component="ModaleIntegration"
                        />
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
        <div class="modale-content integration">
            <button class="modale-close">X</button>
            <img src="assets/images/codeprojetsega1.jpg" alt="Image en grand" class="modale-image" />
        </div>
    </div>
</section>

<section class="code-projet">
    <div class="wrapper">
        <h2 data-scrolly="revealFromTop">Exemple de <span> code</span></h2>
        <div
            class="swiper swiper-code"
            data-component="Carousel"
            data-autoplay
            data-split
            data-slides="3"
            data-scrolly="revealSectionFromLeft"
        >
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="media-swiper">
                        <img
                            src="assets/images/code-projet-sega-caroussel.JPG"
                            alt="image-code"
                            class="open-modale code-image"
                            data-component="ModaleCode"
                        />
                    </div>
                    <div class="content-swiper"><h4>Script Caroussel</h4></div>
                </div>
                <div class="swiper-slide">
                    <div class="media-swiper">
                        <img
                            src="assets/images/code-projet-sega-scrollu.JPG"
                            alt="image-code"
                            class="open-modale code-image"
                            data-component="ModaleCode"
                        />
                    </div>
                    <div class="content-swiper"><h4>Script Scrolly</h4></div>
                </div>
                <div class="swiper-slide">
                    <div class="media-swiper">
                        <img
                            src="assets/images/code-projet-sega-header1.JPG"
                            alt="image-code"
                            class="open-modale code-image"
                            data-component="ModaleCode"
                        />
                    </div>
                    <div class="content-swiper"><h4>Script Header</h4></div>
                </div>
                <div class="swiper-slide">
                    <div class="media-swiper">
                        <img
                            src="assets/images/code-projet-sega-header2.JPG"
                            alt="image-code"
                            class="open-modale code-image"
                            data-component="ModaleCode"
                        />
                    </div>
                    <div class="content-swiper"><h4>Script Header(suite)</h4></div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>

        <!-- Modale Structure -->

        <div class="modale-content code">
            <button class="modale-close">X</button>
            <img src="assets/images/baistcatherine-mockup.png" alt="Image en grand" class="modale-image" />
        </div>
    </div>
</section>
<section class="contribution-rito" data-component="Accordion">
    <div class="wrapper">
        <div class="titre_faq">
            <h2 data-scrolly="reveakFromTop">Compétences <span>acquises</span></h2>
        </div>

        <div class="accordion">
            <div class="accordion__container js-accordion">
                <div class="accordion__header" data-scrolly="fromRight">
                    Structure de projet et de fichiers
                    <div class="accordion__icon">
                        <div class="plus">
                            <span class="bar_accordion"></span>
                            <span class="bar_accordion"></span>
                        </div>
                    </div>
                </div>
                <div class="accordion__content">
                    C'est un projet personnel que j'ai décidé d'intégrer en site pour me remettre dans le bain du web et
                    ne pas être perdu lors du prochain cours de développement web. J'ai donc réalisé ce projet durant
                    l'été afin de rester à niveau et de consolider mes bases en HTML, CSS et JavaScript.
                </div>
            </div>
            <div class="accordion__container js-accordion">
                <div class="accordion__header" data-scrolly="fromRIght">
                    Intégration d'une de mes maquettes
                    <div class="accordion__icon">
                        <div class="plus">
                            <span class="bar_accordion"></span>
                            <span class="bar_accordion"></span>
                        </div>
                    </div>
                </div>
                <div class="accordion__content">
                    Grâce à ce projet, j'ai compris l'importance d'utiliser des composantes JavaScript, des variables
                    CSS globales et d'avoir une bonne structure de projet. L'intégration des couleurs, des espacements
                    et des composantes JavaScript était beaucoup plus facile grâce aux différentes connaissances
                    acquises durant mon cours de développement web précédent.
                </div>
            </div>
            <div class="accordion__container js-accordion">
                <div class="accordion__header" data-scrolly="fromLeft">
                    Débrouillardise
                    <div class="accordion__icon">
                        <div class="plus">
                            <span class="bar_accordion"></span>
                            <span class="bar_accordion"></span>
                        </div>
                    </div>
                </div>
                <div class="accordion__content">
                    C'est l'un de mes premiers projets personnels réalisés durant l'été, et je n'avais donc pas accès à
                    l'aide des professeurs. J'ai dû faire mes recherches moi-même et trouver des solutions à mes bugs en
                    CSS et JavaScript.
                </div>
            </div>
        </div>
    </div>
</section>

{% include "_partials/_footer.html" %}
