{% include '_partials/_header.html' %}

<section class="hero">
    <div class="hero_media">
        <img src="" alt="" />
    </div>
    <div class="wrapper">
        <div class="hero_content">
            <div class="info_hero">
                <h1>Rito José Blandon Pinzon</h1>
                <p class="sous_titre_hero">Développeur web <span>junior</span></p>
            </div>

            <a href="" class="bouton bouton_hero">Voir mes projets</a>
        </div>
    </div>
</section>

<section class="mes_projets">
    <div class="wrapper">
        <div class="cards">
            <a class="card">
                <div class="card_media"><img src="" alt="" /></div>
                <div class="card_content"></div>
            </a>
            <a class="card">
                <div class="card_media"></div>
                <div class="card_content"></div>
            </a>
            <a class="card">
                <div class="card_media"></div>
                <div class="card_content"></div>
            </a>
        </div>
    </div>
</section>

{% include '_partials/_footer.html' %}
