{% include '_partials/_header.html' %}

<section class="hero">
    <div class="hero_media">
        <img class="hero_fond" src="/assets/images/imageplaceholder.jpg" alt="" />
    </div>
    <div class="wrapper">
        <div class="hero_content">
            <div class="info_hero">
                <h1>Rito José Blandon Pinzon</h1>
                <p class="sous_titre_hero">Développeur web <span>junior</span></p>
            </div>

            <a href="" class="bouton bouton_hero">Voir mes projets</a>
        </div>
    </div>
</section>

<section class="mes_projets mes_projets_accueil">
    <div class="wrapper">
        <div class="cards cards_accueil">
            <a class="card">
                <div class="card_content card_content_gauche">
                    <h4 class="titre_projet">Console SEGA DBS</h4>
                    <p class="sous_titre_projets">Design de maquette et intégrations web</p>
                    <p class="projets_texte">
                        Création de maquette et intégration d'un site web pour une console fictive de Sony en HTML, CSS
                        et Javascript
                    </p>
                    <div class="infos_projets">
                        <p class="type_projet">Projet Personnel</p>
                        <div class="logiciels_projets">
                            <img src="assets/images/html.png" alt="html_logo" />
                            <img src="assets/images/css.png" alt="css_logo" />
                            <img src="assets/images/javascript.png" alt="js_logo" />
                        </div>
                    </div>
                    <div class="plus_infos">
                        <span class="bar"></span>
                        <span class="bar"></span>
                    </div>
                </div>
                <div class="card_media"><img src="assets/images/segaprojet.jpg" alt="" /></div>
            </a>
            <a class="card card_inverse">
                <div class="card_media"><img src="assets/images/segaprojet.jpg" alt="" /></div>
                <div class="card_content card_content_droite">
                    <h4 class="titre_projet">Console SEGA DBS</h4>
                    <p class="sous_titre_projets">Design de maquette et intégrations web</p>
                    <p class="projets_texte">
                        Création de maquette et intégration d'un site web pour une console fictive de Sony en HTML, CSS
                        et Javascript
                    </p>
                    <div class="infos_projets">
                        <p class="type_projet">Projet Personnel</p>
                        <div class="logiciels_projets">
                            <img src="assets/images/html.png" alt="html_logo" />
                            <img src="assets/images/css.png" alt="css_logo" />
                            <img src="assets/images/javascript.png" alt="js_logo" />
                        </div>
                    </div>
                    <div class="plus_infos">
                        <span class="bar"></span>
                        <span class="bar"></span>
                    </div>
                </div>
            </a>
            <a class="card">
                <div class="card_content card_content_gauche">
                    <h4 class="titre_projet">Console SEGA DBS</h4>
                    <p class="sous_titre_projets">Design de maquette et intégrations web</p>
                    <p class="projets_texte">
                        Création de maquette et intégration d'un site web pour une console fictive de Sony en HTML, CSS
                        et Javascript
                    </p>
                    <div class="infos_projets">
                        <p class="type_projet">Projet Personnel</p>
                        <div class="logiciels_projets">
                            <img src="assets/images/html.png" alt="html_logo" />
                            <img src="assets/images/css.png" alt="css_logo" />
                            <img src="assets/images/javascript.png" alt="js_logo" />
                        </div>
                    </div>
                    <div class="plus_infos">
                        <span class="bar"></span>
                        <span class="bar"></span>
                    </div>
                </div>
                <div class="card_media"><img src="assets/images/segaprojet.jpg" alt="" /></div>
            </a>
        </div>
        <div class="lien_projets"><a href="mes-projets.html" class="bouton bouton_projets">Voir mes projets</a></div>
    </div>
</section>

{% include '_partials/_footer.html' %}
