{% include '_partials/_header.html' %}

<section class="hero">
    <div class="hero_media">
        <img src="/dist/assets/images/imageplaceholder.jpg" alt="" />
    </div>
    <div class="wrapper">
        <div class="hero_content">
            <div class="info_hero">
                <h1>Rito José Blandon Pinzon</h1>
                <p class="sous_titre_hero">Développeur web <span>junior</span></p>
            </div>

            <a href="" class="bouton bouton_hero">Voir mes projets</a>
        </div>
    </div>
</section>

<section class="mes_projets">
    <div class="wrapper">
        <div class="cards">
            <a class="card">
                <div class="card_media"><img src="/dist/assets/images/imageplaceholder.jpg" alt="" /></div>
                <div class="card_content">
                    <h4 class="titre_projnet">Console SEGA DBS</h4>
                    <p class="sous_titre_projets">Design de maquette et intégrations web</p>
                    <p class="projets_texte">
                        Création de maquette et intégration d'un site web pour une console fictive de Sony en HTML, CSS
                        et Javascript
                    </p>
                    <div class="infos_projets">
                        <p class="type_projet">Projet Personnel</p>
                        <div class="logiciels_projets">
                            <svg class="icon icon--sm">
                                <use xlink:href="#icon-html"></use>
                            </svg>
                            <svg class="icon icon--sm">
                                <use xlink:href="#icon-css"></use>
                            </svg>
                            <svg class="icon icon--sm">
                                <use xlink:href="#icon-js"></use>
                            </svg>
                        </div>
                    </div>
                </div>
            </a>
            <a class="card">
                <div class="card_media"></div>
                <div class="card_content"></div>
            </a>
            <a class="card">
                <div class="card_media"></div>
                <div class="card_content"></div>
            </a>
        </div>
    </div>
</section>

{% include '_partials/_footer.html' %}
