{% include '_partials/_header.html' %}

<section class="mes_projets">
    <div class="wrapper">
        <h1>Mes <span>projets</span></h1>
        <div class="cards">
            <a class="card" href="fiche-projets-sega.html">
                <div class="card_content card_content_gauche" data-scrolly="fromLeft">
                    <h4 class="titre_projet">Console SEGA DBS</h4>
                    <p class="sous_titre_projets">Design de maquette et intégration web</p>
                    <p class="projets_texte">
                        Création de maquette et intégration d'un site web pour une console fictive de Sony en HTML, CSS
                        et JavaScript.
                    </p>
                    <div class="infos_projets">
                        <p class="type_projet">Projet Personnel</p>
                        <div class="logiciels_projets">
                            <img src="assets/images/html.png" alt="html_logo" />
                            <img src="assets/images/css.png" alt="css_logo" />
                            <img src="assets/images/javascript.png" alt="js_logo" />
                        </div>
                    </div>
                    <div class="plus_infos">
                        <span class="bar"></span>
                        <span class="bar"></span>
                    </div>
                </div>
                <div class="card_media" data-scrolly="fromRight">
                    <img src="assets/images/mockupsegafinal.jpg" alt="" />
                </div>
            </a>
            <a class="card card_inverse" href="fiche-projets-baie-st-chaterine.html">
                <div class="card_media" data-scrolly="fromLeft">
                    <img src="assets/images/mockupbaie.jpg" alt="" />
                </div>
                <div class="card_content card_content_droite" data-scrolly="fromRight">
                    <h4 class="titre_projet">Baie St-Catherine</h4>
                    <p class="sous_titre_projets">Intégration web d'une maquette</p>
                    <p class="projets_texte">
                        Intégration d'une maquette de refonte fictive du site de la ville de Baie St-Catherine.
                    </p>
                    <div class="infos_projets">
                        <p class="type_projet">Projet Scolaire</p>
                        <div class="logiciels_projets">
                            <img src="assets/images/html.png" alt="html_logo" />
                            <img src="assets/images/css.png" alt="css_logo" />
                            <img src="assets/images/javascript.png" alt="js_logo" />
                        </div>
                    </div>
                    <div class="plus_infos">
                        <span class="bar"></span>
                        <span class="bar"></span>
                    </div>
                </div>
            </a>
            <a class="card" href="fiche-projets-tim-esports.html">
                <div class="card_content card_content_gauche" data-scrolly="fromLeft">
                    <h4 class="titre_projet">Tim esports</h4>
                    <p class="sous_titre_projets">Design de maquette et intégration web</p>
                    <p class="projets_texte">
                        Intégration d'une maquette de compagnie esport fictive en HTML, CSS et JavaScript.
                    </p>
                    <div class="infos_projets">
                        <p class="type_projet">Projet Scolaire</p>
                        <div class="logiciels_projets">
                            <img src="assets/images/html.png" alt="html_logo" />
                            <img src="assets/images/css.png" alt="css_logo" />
                            <img src="assets/images/javascript.png" alt="js_logo" />
                        </div>
                    </div>
                    <div class="plus_infos">
                        <span class="bar"></span>
                        <span class="bar"></span>
                    </div>
                </div>
                <div class="card_media" data-scrolly="fromRight"><img src="assets/images/etimmockup.jpg" alt="" /></div>
            </a>
            <a class="card card_inverse" href="fiche-projets-webconf.html">
                <div class="card_media" data-scrolly="fromLeft">
                    <img src="assets/images/mockupwebconf.jpg" alt="" />
                </div>
                <div class="card_content card_content_droite" data-scrolly="fromRight">
                    <h4 class="titre_projet">WebConf</h4>
                    <p class="sous_titre_projets">Design de maquette et intégration web</p>
                    <p class="projets_texte">
                        Création de maquette et intégration d'un site web pour des conférences web fictive en HTML, CSS
                        et JavaScript.
                    </p>
                    <div class="infos_projets">
                        <p class="type_projet">Projet Personnel</p>
                        <div class="logiciels_projets">
                            <img src="assets/images/html.png" alt="html_logo" />
                            <img src="assets/images/css.png" alt="css_logo" />
                            <img src="assets/images/javascript.png" alt="js_logo" />
                        </div>
                    </div>
                    <div class="plus_infos">
                        <span class="bar"></span>
                        <span class="bar"></span>
                    </div>
                </div>
            </a>

            <a class="card" href="fiche-projets-webjam.html">
                <div class="card_content card_content_gauche" data-scrolly="fromLeft">
                    <h4 class="titre_projet">Morphix Webjam</h4>
                    <p class="sous_titre_projets">Intégration et programmation web</p>
                    <p class="projets_texte">
                        Création d'un site web pour une entreprise de transport futuriste en une fin de semaine.
                    </p>
                    <div class="infos_projets">
                        <p class="type_projet">Projet Personnel</p>
                        <div class="logiciels_projets">
                            <img src="assets/images/html.png" alt="html_logo" />
                            <img src="assets/images/css.png" alt="css_logo" />
                            <img src="assets/images/javascript.png" alt="js_logo" /><img
                                src="assets/images/wp.png"
                                alt="js_logo"
                            />
                        </div>
                    </div>
                    <div class="plus_infos">
                        <span class="bar"></span>
                        <span class="bar"></span>
                    </div>
                </div>
                <div class="card_media" data-scrolly="fromRight">
                    <img src="assets/images/mockupwebjam.jpg" alt="" />
                </div>
            </a>
        </div>
    </div>
</section>

{% include '_partials/_footer.html' %}
